*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pompiere", serif;
    color: #fff;
}

body{
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;

    &::after{
        position: absolute;
        z-index: -1;
        background-color: #000;
        inset: 0;
        content: '';
        opacity: .9;
    }

    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media(max-width: 768px){
            transform: translate(-50%, -54%);
        }

        .content_box{
            width: 80vw;

            @media(max-width: 768px){
                width: 100vw;
            }
            
            .titles_box{
                margin: 0 auto;
                text-align: center;

                .mainTitle{
                    font-family: "Ms Madi", serif;
                    font-weight: 100;
                    font-size: 80px;
                    text-shadow: #0898ff 0 0 4;
                    
                    @media(max-width: 768px){
                        font-size: 64px;
                    }
                }

                .subTitle{
                    font-size: 32px;
                    font-weight: 400;
                    letter-spacing: 8px;
                    text-shadow: #0898ff 0 1px 2px;
                    
                    @media(max-width: 768px){
                        font-size: 24px;
                        letter-spacing: 4px;
                    }
                }
            }
                
            .projects_box{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 64px 32px;
                max-width: 80%;
                height: 56vh;
                margin: 32px auto;
                padding: 32px 0;
                overflow-y: auto;
                background-color: #0898ff11;
                border-radius: 32px 4px 4px 32px;

                @media(max-width: 768px){
                    gap: 16px;
                    max-width: 72%;
                    padding: 16px 0;
                    border-radius: 16px 4px 4px 16px;
                }

                &::-webkit-scrollbar{
                    background-color: rgba($color: white, $alpha: 0.4);
                    border-radius: 4px;
                    width: 8px;

                    @media(max-width: 768px){
                        width: 4px;
                    }
                }
                &::-webkit-scrollbar-thumb{
                    background-color: rgba($color: white, $alpha: 0.8);
                    border-radius: 4px;
                }

                .projeto{
                    width: 28%;

                    img{
                        width: 100%;
                        border: white solid 2px;
                        border-radius: 8px;
                        box-shadow: 0 0 4 #0898ff;
                        transition: all ease .3s;

                        &:hover{
                            transform: scale(1.04);
                        }
                    }

                    @media(max-width: 768px){
                        width: auto;
                        max-width: 64vw;

                        img{
                            width: 100%;
                        }
                    }
                }
            }
            
            .btn_box{
                display: flex;
                gap: 16px;
                justify-content: center;

                .btn{
                    border-radius: 8px;
                    background-color: #0898ff11;
                    padding: 8px 32px;
                    border: solid 2px #fff;
                    font-size: 24px;
                    cursor: pointer;
                    transition: all ease .3s;

                    a{
                        text-decoration: none;
                    }
                    
                    &:hover{
                        transform: scale(0.96);
                        border: solid 2px #0898ff;
                        box-shadow: inset 0 0 16 #0898ff88;
                        background-color: #0898ff44;
                    }
                }
            }
        }
    }
}